node_modules/**/*
.expo/*
npm-debug.*
*.jks
*.p8
*.p12
*.key
*.mobileprovision
*.orig.*
web-build/
Back-End/package-lock.json
Back-End/node_modules
package-lock.json
node_modules
Client/config.js

# macOS
.DS_Store
